:root {
  --bg: #2D2D2E;
  --card-bg: #1E1E1F;
  --input-bg: #2D2D2E;
  --border: #4D4E52;
  --border-focus: #3D3D3F;
  --input-text: #DCDEE5;
  --btn-bg: #102A72;
  --text-main: #FAFAFA;
  --btn-secondary-bg: #DCDEE5;
  --btn-secondary-text: #102A72;
  --text-muted: #9a9aa0;

  font-family: system-ui, 'Segoe UI', Roboto, sans-serif;
}

body {
  margin: 0;
  background: var(--bg);
  color: var(--text-main);
}